body {
  /*background-color: #081DB2;*/
  /*background-image: url(montana_hill.jpg);*/
  /*background-size: cover;*/

  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  font-family: font-family: 'Assistant', sans-serif;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  /*border: 4px solid rgba(255, 255, 255, .5);*/
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.9);
  margin: 1em;
}

h1, h2 {
  text-align: center;
}

.about img {
  float: left;
  max-height: 500px;
  padding: 1em;
  align-self: center;
  border-radius: 50%
}

.page {
  margin: auto;
}

.page-break{
  height: 25vh;
}

.content {
  margin: auto;
  display: block;
}

.mission {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio .item {
  height: 250px;
  width: 500px;
  border: 2px solid black;
  margin: 1em;
  /*background*/
}

.portfolio img {
  max-height: 250px;
  max-width: 500px;
}

#textbook-retriever {
  background-image: url(textbook-retriever.jpg);
  background-size: contain;
}

#crimealertsdc {
  background-image: url(crimealertsdc.jpg);
  background-size: contain;
}

#accounting-calc {
  background-image: url(AccountingCalc.png);
  background-size: contain;
}
